body {
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
  
header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
}

.btn {
    border-radius: 30px;
}

@media (pointer: coarse) and (hover: none) {
header {
    /* background: url('video/girl-dancing.mp4') black no-repeat center center scroll; */
}
header video {
    /* display: none; */
}
}
<div class="overlay"></div>
		<video class="video"loop="" autoplay="" muted="" playsinline="">
			<!-- <source src="https://video.twimg.com/ext_tw_video/1511666989089136643/pu/vid/1280x720/X6sP5bv3-Pc3KM5X.mp4?tag=12" type="video/mp4"> -->
			<source src="video.mp4" type="video/mp4">
		</video>
